In [ ]:
#pandas - easy to use data structure and data analysis tool

#What is DataFrame?
#combination of rows and column of csv

In [5]:
#Playing with dataframe
import pandas as pd
import numpy as np
# DataFrame(data,index=rows,columns=colums)
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4'])
df

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [6]:
#convert to excel sheet
df.to_csv('Test1')

In [10]:
#Accessing Elements

# loc --> row
series=df.loc['Row1']

In [ ]:
type(series)
#series means 1 row and 1 column
#works on the rows only

pandas.core.series.Series

In [13]:
df.loc['Row2']

Col1    4
Col2    5
Col3    6
Col4    7
Name: Row2, dtype: int32

In [ ]:
#dataframe --> more than 1 column
dataframe=df.iloc[0:2,0:2]
dataframe

      Col1  Col2
Row1     0     1
Row2     4     5

In [17]:
type(dataframe)

pandas.core.frame.DataFrame

In [25]:
#convert dataframe into arrays
dataArray =df.iloc[:,1:].values
dataArray

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [24]:
dataArray.shape

(5, 3)

In [30]:
#but iloc is preferred
dataframe[['Col1','Col2']]

      Col1  Col2
Row1     0     1
Row2     4     5

In [31]:
df.describe()

            Col1       Col2       Col3       Col4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000