In [11]:
myStr ="Youusf123"
number_1 = myStr.count
print(myStr.isalnum())

True

In [13]:
#List
listOne =[]
listOne.append("Yousuf")
listOne.append("Rafee")
listOne.append("Javed")
print(listOne)

['Yousuf', 'Rafee', 'Javed']

In [14]:
#Indexing in List
ListTwo = ["Hello","One","Two"]
ListTwo[1:]

['One', 'Two']

In [16]:
ListThree =["rafee","kevin"]
ListThree.insert(1,'Kader Molla')
print(ListThree)

['rafee', 'Kader Molla', 'kevin']

In [23]:
#an unordered collection of data
# set does not support indexing
set_var = set()
print(set_var)

#to add
set_var.add('Hulk')

#difference
set1 = set()
set2 = set()
set1 ={"Apple","Google","Samsung"}
set2= {"Netflix","HP",'Amazon',"Apple"}

#difference 
set2.difference_update(set1)
print(set2)

set()
{'Netflix', 'Amazon', 'HP'}

In [29]:
my_dict = {"name":"Yousuf Borna","Age":25,"Major":"Computer Science"}
print(type(my_dict))

#values
for x in my_dict.values():
    print(x)

#keys
for x in my_dict.keys():
    print(x)

<class 'dict'>
Yousuf Borna
25
Computer Science
name
Age
Major

In [32]:
#nested dict
my_dict2 ={'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

print(my_dict2['car1']['Mercedes'])

1960

In [33]:
#tuple
my_tuple =("Krish","Angur","John")